.main_nav {
  list-style: none;
  
}

.main_nav li {
  float: left;
  padding: 0.75rem 1rem;
}

.main_nav li a {
  padding: 14px 16px;
  color:white
}

.main_nav li a:hover {
  background-color: #6f3199;
}

nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(168, 101, 199);
}

.home .body_text {
  width: min(92vw, 70rem);
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
}

.home .body_text h1 {
  color:whitesmoke;
  background-color: rgb(243, 114, 215);
  padding: 14px 16px;
}

.captioned_picture {
  background-color: cornflowerblue;
  padding: 10px 12px;
}

.esports_pic {
  max-width: 50vw;
  width: 100%;
  height: auto;
}

.resume .body_text {
  width: 50rem;
  font-family: Arial, Helvetica, sans-serif;
}

.resume .body_text h1 {
  color:whitesmoke;
  background-color: rgb(243, 114, 215);
  padding: 14px 16px;
}

.resume .body_text .contact_info {
  border-style: solid;
  border-width: 2px;
}

.resume .body_text .profile_info {
  border-style: solid;
  border-width: 2px;
}

.robotics .body_text {
  width: min(92vw, 70rem);
}

.robotics .body_text h1 {
  color:whitesmoke;
  background-color: rgb(243, 114, 215);
  padding: 14px 16px;
}

.robot_audio {
  background-color:cornflowerblue;
  padding: 14px 16px;
  border-radius: 0.2rem;
  outline:none;
}

.robot_audio:hover {
  box-shadow: 0 0 10px darkblue;
}

.robot_picture {
  max-width: 30vw;
  width: 100%;
  height: auto;
}

.poster_picture {
  max-width: 30vw;
  width: 100%;
  height: auto;
}